<div class='nested-fields'>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :stauts %>
  </div>
  <div class="field">
    <%= f.label :priority %>
    <%= f.text_field :priority %>
  </div>
  <div class="field">
    <%= f.label :term %>
    <%= f.text_field :term %>
  </div>

  <%= link_to_remove_association "remove task", f %>
</div>
