<div class='nested-fields'>
  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <%= f.label :status %>
        <%= f.select :status, ['Done', 'Working on it', 'Stuck', 'Waiting for review', 'On hold'], { prompt: 'Select' }, class: 'form-control' %>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <%= f.label :priority %>
        <%= f.select :priority, ['High', 'Medium', 'Low', 'Best effort'], {}, class: 'form-control' %>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <%= f.label :term %>
        <%= f.number_field :term, step: :any, class: 'form-control' %>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <%= f.label :user %>
        <%= f.select :user_id, User.where(disabled: false).collect { |user| [user.name, user.id] }, { prompt: 'Select' }, class: 'form-control' %>
      </div>
    </div>
    <div class="col-1">
      <div class="form-group">
        <%= link_to_remove_association "remove", f, class: 'btn btn-outline-danger btn-sm', style: 'margin-top: 34px' %>
      </div>
    </div>
  </div>
</div>
