<div class='float-right'>
  <%= link_to 'New', new_dashboard_week_path, class: 'btn btn-primary' %>
</div>



<h1>Weeks</h1>
<hr/>

  
<% @weeks.each do |week| %>
  <div class="row">
    <div class="col-5">
      <h4><%= week.name %></h4>
    </div>
    <div class="col-7">
      <div class="float-right">
        <%= link_to 'Destroy', dashboard_week_path(week), method: :delete, data: { confirm: 'Are you sure?' } %> | 
        <%= link_to 'Edit', edit_dashboard_week_path(week) %>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>Task</th>
            <th>Assignee</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Term</th>
          </tr>
        </thead>
        <tbody>
          <% week.tasks.each do |task| %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.user.try(:name) %></td>
              <td><%= task.status %></td>
              <td><%= task.priority %></td>
              <td><%= task.term %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<%= render 'shared/paginate', collection: @weeks %>
