<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @week.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @week.user_id %>
</p>

<%= link_to 'Edit', edit_dashboard_week_path(@week) %> |
<%= link_to 'Back', dashboard_weeks_path %>
